#main
{
 background-color: #218AD5;
 width: 80%;
 height: 600px;
 margin-top: 5%;
 margin-left: 10%;
 margin-right: 10%;
 border-radius: 30px;

 -webkit-box-shadow: 3px 6px 14px 3px rgba(66, 68, 90, 1);
 -moz-box-shadow: 3px 6px 14px 3px rgba(66, 68, 90, 1);
 box-shadow: 3px 6px 14px 3px rgba(66, 68, 90, 1);
}

#main > h1
{
  font-size: 70px;
}

/*
  śmieci wywal
  zaściel łóżko
*/
